*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 38px 0  38px;
    position: absolute;
    width: 100%;
    z-index: 6;
    }
.home-img{
    height: 85px;
    width: 230px;
}    
header .left-bar a{
    margin: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

header .right-bar a{
    margin: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

main .backimg .img1{
   z-index: -1;
   display: flex;
   justify-content: center;
   transform-style: preserve-3d ;
    width: 100%;
  background-size: cover;
 
 

}
.wrapper{ height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 100px;

}

main{
    transform: translateZ(-100px) scale(2);
    
}

.background1{
    transform: translateZ(-20px) scale(2);
   position: absolute;
   /* height: 100%; */
   width: 100%;
   /* object-fit: cover; */
}
.backimg2{
    display: flex;
    position: relative;
    align-items: center;
    height: 200%;
    transform-style: preserve-3d;
    z-index: 2;
    justify-content: space-around;
    align-items: center;
}
.foreground{
    z-index: 40;
    display: flex;
  
}
.foreimg{

    height: 600px;
    /* width: 550px; */
}

.text-lable{ font-family: 'basis-grotesque-off-white' !important;
color: white;
font-size: 40px;
    flex-direction: column;
    width: 519px; 
    

}

.text-lable p {
margin-top: 20px ;
font-size: 20px;
margin-bottom: 80px;

}
.text-lable h1{
    /* height: 550px; */
    margin-bottom: 46px;
}

.foreground a{
text-decoration: none;
color: white;
border-bottom: 1px solid white;
}

.foreground a:hover{

color: antiquewhite;

}

.white-container{
    display: flex;
    position: relative;
    align-items: center;
    height: 200%;
    transform-style: preserve-3d;
    z-index: 3;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    transform: translateZ(-80) scale(2) ;
}

.foreground2{
   
    z-index: 40;
display: flex;
}

.left-text{ 
    margin-left: 80px;
    margin-top: 200px;
    font-family: 'basis-grotesque-off-white' !important;
    color: black;
    font-size: 40px;
        flex-direction: column;
        width: 519px; 

}

.left-text p{
    margin-top: 20px ;
    font-size: 20px;
    margin-bottom: 80px;
    
}

.left-text a {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;


}

.left-text a:hover{
color: rgb(119, 118, 118);

}



.foreground3{

position: absolute;
display: flex;

}

.sky-container{
    
position: relative;
/* z-index:-10 ; */
 display: flex;   
 transform-style: preserve-3d;
 transform: translateZ(-70px) scale(2);
height: 200%;

}
.background4{
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-70px) scale(2);
    height: 100%;
    
}
.sky-img{
    position: absolute;
    z-index: 30;
    height: 600px;
    margin: 600px 0 0 200px;
}
.text-cont{
    position: absolute;
    z-index: 30;
    /* display: flex; */
    margin-left: 800px;
    margin-top: 700px;
}